<div class="container py-5"
    style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
    <h3 class="text-center mb-3" style= "color:#6264a7; font-size: 35px;">REGISTER MICROSOFT TEAMS</h3>
    
    <div class="card" style="width:100%; max-width: 35rem;">
        <div class="card" style="box-shadow: 0 0 5px #b8b8b8;">
            <div class="card-body-image">
                <img src="/images/login.png" width="100%" class="rounded" alt="">
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center; background-color:#6264a7; color:whitesmoke" class="card-header">
            <p class="m-0">LOGIN</p><a href="/login" type="button" class="btn btn-outline-success">Login
            </a>
        </div>
        <div class="card-body">
            <form action="/signup" method="POST">
                <% if(locals.messages.success){ %>
                    <div class="alert alert-success" role="alert">
                        <%= locals.messages.success %>
                    </div>
                    <% } %>
                        <% if(locals.messages.err){ %>
                            <div class="alert alert-danger" role="alert">
                                <%= locals.messages.err %>
                            </div>
                            <% } %>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Name</label>
                                        <div class="input-group">
                                            <div class="input-group-text">
                                                <ion-icon name="person-outline"></ion-icon>
                                            </div>
                                            <input name="name" type="text" class="form-control"
                                                id="autoSizingInputGroup" placeholder="Full Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Username</label>
                                        <div class="input-group">
                                            <div class="input-group-text">
                                                <ion-icon name="person-circle-outline"></ion-icon>
                                            </div>
                                            <input name="username" type="text" class="form-control"
                                                id="autoSizingInputGroup" placeholder="Username">
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <ion-icon name="mail-outline"></ion-icon>
                                        </div>
                                        <input name="email" type="email" class="form-control" id="autoSizingInputGroup"
                                            placeholder="Your Email" aria-describedby="emailHelp">
                                    </div>
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Password</label>
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <ion-icon name="lock-closed-outline"></ion-icon>
                                        </div>
                                        <input name="password" type="password" class="form-control"
                                            id="autoSizingInputGroup" placeholder="Password">
                                    </div>
                                </div>
                                <button style="width: 100%; background-color: #6264a7;" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<style>
    body {
        background-color: whitesmoke;
    }
    .card-body-image{
                
                width: 250px;
                padding-bottom: 10px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
    .btn-outline-success{
                     color:whitesmoke;
                     border: #6264a7;
                     
            }
            .btn-outline-success:hover{
                     color:#6264a7;
                     background-color: whitesmoke;
                     border: whitesmoke;
                     
            }
</style>